/* Image and Caption Adjustments*/
.post-content img {
  border-radius: 4px;
   margin: 0;
}
.post-content figure>figcaption {
  color: var(--secondary);
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  margin: 8px 0px 8px;
}
/* Links */
.post-content a {
  color: var(--secondary);
}
/* Quotes */
.post-content blockquote {
  font-style: italic;
  background-color: var(--code-bg);
}
